


<div class="pageBoxLg">
  <div class="container topAlignContainer ">
    <form [formGroup]="taskForm" >
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="100">
          <label class="pageBoxLg-label">Status Update</label>
        </div>       
        <div fxFlex="50" class="pr-1" >
          <mat-form-field class="full-width">
            <input matInput formControlName="taskNo" [readonly]=true placeholder="Task.No" 
            (ngModelChange)="taskEdit.taskNo=$event"
            [(ngModel)]="taskEdit.taskNo" >  
          </mat-form-field>
         
        </div>
        <div fxFlex="50" class="pr-1" >
          <mat-form-field class="full-width">
            <input matInput formControlName="dateTime" [readonly]=true  [(ngModel)]="taskEdit.dateTime" 
            (ngModelChange)="taskEdit.dateTime=$event"
              placeholder="Start time">  
          </mat-form-field>
        </div>
        <div fxFlex="50" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput formControlName="assignedTo"  [(ngModel)]="taskEdit.assignedTo"
            (ngModelChange)="taskEdit.assignedTo=$event"
            [readonly]=true
              placeholder="AssignedTo">  
          </mat-form-field>
        </div> 

        <div fxFlex="50" class="pr-1" >
        <div  >
          <mat-form-field class="full-width">
            <input matInput formControlName="clientName"  [(ngModel)]="taskEdit.clientName"
            (ngModelChange)="taskEdit.clientName=$event"
             [readonly]=true
              placeholder="Client Name">  
          </mat-form-field>
        </div> 
      </div> 

        <div fxFlex="50" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput formControlName="taskTitle"  [(ngModel)]="taskEdit.taskTitle"
            (ngModelChange)="taskEdit.taskTitle=$event"
             [readonly]=true
              placeholder="Task Title">  
          </mat-form-field>
        </div>        
        <div fxFlex="50" class="pr-1" >
          <mat-form-field class="full-width" >
            <input matInput formControlName="taskDescription"  [(ngModel)]="taskEdit.taskDescription"
            (ngModelChange)="taskEdit.taskDescription=$event"
            [readonly]=true
              placeholder="Task Description">  
          </mat-form-field>
        </div>  
        <div fxFlex="50" class="pr-1" >
          <mat-form-field class="full-width">
            <input matInput formControlName="priority"  [(ngModel)]="taskEdit.priority"
            (ngModelChange)="taskEdit.priority=$event"
             [readonly]=true
              placeholder="Priority">  
          </mat-form-field>
        </div>       
        <div fxFlex="50" class="pr-1" >
          <mat-form-field class="full-width">
            <input matInput formControlName="units"  [(ngModel)]="taskEdit.units"
            (ngModelChange)="taskEdit.units=$event"
             [readonly]=true
              placeholder="Units">  
          </mat-form-field>
        </div> 
        <div fxFlex="50" class="pr-1" >
          <mat-form-field class="full-width">
            <input matInput formControlName="department"  [(ngModel)]="taskEdit.department"
            (ngModelChange)="taskEdit.department=$event"
             [readonly]=true
              placeholder="Department">  
          </mat-form-field>
        </div> 
       
        <div fxFlex="50" class="pr-1" >
          <mat-form-field class="full-width">
            <input matInput formControlName="assignedBy"  [(ngModel)]="taskEdit.assignedBy"
            (ngModelChange)="taskEdit.assignedBy=$event"
             [readonly]=true
              placeholder="AssignedBy">  
          </mat-form-field>
        </div> 
        
        <div fxFlex="50" class="pr-1" >
          <mat-form-field class="full-width">
            <input matInput formControlName="toCloseDate"  [(ngModel)]="taskEdit.toCloseDate"
             (ngModelChange)="taskEdit.toCloseDate=$event" [readonly]=true
              placeholder="Deadline Date">
          </mat-form-field>
        </div>
        <div fxFlex="50" class="pr-1" >
          <mat-form-field class="full-width">
            <input matInput formControlName="toTime"  [(ngModel)]="taskEdit.toTime"
             (ngModelChange)="taskEdit.toTime=$event" [readonly]=true
              placeholder="Deadline Time">
          </mat-form-field>
        </div>
      
        <div fxFlex="50" class="pr-1" >
          <mat-form-field>
            <input matInput formControlName="closedDate" [matDatepicker]="picker2" 
             [(ngModel)]="taskEdit.closedDate" 
            (ngModelChange)="taskEdit.closedDate=$event"
             placeholder=" Completed Date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxFlex="50" class="pr-1" >
          <mat-form-field>
            <input matInput formControlName="time"   [(ngModel)]="taskEdit.time" 
            (ngModelChange)="taskEdit.time=$event" type="time"
             placeholder="Completed Time">            
          </mat-form-field>
        </div>
        <div fxFlex="50" class="pr-1" >
          <mat-form-field>
            <mat-select placeholder="Status" formControlName="status"  [(ngModel)]="taskEdit.status" 
            (ngModelChange)="taskEdit.status=$event">
              <mat-option *ngFor="let data of status;let i = index " [value]="data">
                <a>{{data}}</a>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="50" class="pr-1" >
          <mat-form-field>
            <textarea matInput formControlName="comment"   [(ngModel)]="taskEdit.comment" 
            (ngModelChange)="taskEdit.comment=$event" 
             placeholder="Leave a Comment">   </textarea>         
          </mat-form-field>
        </div>
              
      

        <div fxFlex="100" class="textHeader">
            <h5>Project Details</h5>
          </div>
          <div  fxLayout="column" fxFlex="100" formArrayName="task" >
            <div *ngFor="let account of moduleForms.controls; let i=index" [formGroupName]="i">
              <div fxFlex="25" class="pr-1">
                <mat-form-field class="full-width">
                  <input matInput formControlName="moduleName"    
                  (ngModelChange)="taskEdit.moduleName=$event"
                  [readonly]=true
                  placeholder="moduleName">
                </mat-form-field>
              </div>
              <div fxFlex="25" class="pr-1">
                <mat-form-field class="full-width">
                  <input matInput formControlName="moduleDescription"                    
                  (ngModelChange)="taskEdit.moduleDescription=$event"
                  [readonly]=true
                  placeholder="moduleDescription">
                </mat-form-field>
              </div>
              <div fxFlex="25" class="pr-1">
                <mat-form-field class="full-width">
                  <input matInput formControlName="moduleStatus"                    
                  (ngModelChange)="taskEdit.moduleStatus=$event"  
                  placeholder="moduleStatus">
                </mat-form-field>
              </div>
            </div>
          </div>
        <div fxFlex="100" class="mt-1">
            <button mat-raised-button type="button" color="primary" 
            (click)="updateTask(taskForm, taskEdit)">Update</button>          
          <span fxFlex></span>
          <span fxFlex></span>
          <button mat-raised-button mat-button color="accent"
           type="button" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  </div>