<div class="container">
  <div>
      <mat-form-field class="full-width">
          <mat-select placeholder="Select title" #valu>
              <mat-option *ngFor="let data of title" [value]="data">
                {{data.title}}
              </mat-option>
            </mat-select>
      </mat-form-field>
  </div>
<div class="form-group" style="padding-top: 50px">
    <label for="name"><strong>Market</strong></label><br>
  <input  type="file" (change)="onSubmit($event)" placeholder="Upload file" >
  <button type="button" mat-raised-button color="primary"
  (click)="onChange(valu.value)">Upload</button>
</div>

<div class="row box">
  <h4>Acceptable title</h4><br>
  <p> name,<br>
    mobileNumber,<br>
    emailID,<br>
    address</p>
</div>
</div>