<div class="pageBoxLg">
    <div class="container topAlignContainer">
      <form [formGroup]="taskForm" (ngSubmit)="taskForm.valid && onSubmit(taskForm, weeklyPlanunit,
       weeklyPlanassingedTo, weeklyPlanclient, weeklyPlanTitle, weeklyPlanDesc, weeklyPlanWeekID)">
  
        <!--  <app-ticketcustomersearch [customerModel]="customerdetail" 
      (searchCustomer)="filterCustomer($event)"></app-ticketcustomersearch> -->
        <!-- <div *ngFor="let customerdata of customerModel">{{customerdata.name}}{{customerdata.mobileNumber}}</div> -->
  
        <div fxLayout="row wrap" fxLayout.lt-sm="column">
          <div fxFlex="100">
            <label class="pageBoxLg-label">Create Task Form</label>
          </div>
          <!-- 
        <div fxFlex="50" class="p-2">
          <mat-form-field class="full-width">
            <input matInput formControlName="name" placeholder="Name">
            <mat-error *ngIf="taskForm.controls['name'].errors?.required" required>
              Name
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div> -->
        <div fxFlex="50" class="p-2">
            <mat-form-field class="full-width">
              <input matInput formControlName = "unit" placeholder="unit" 
               [value]="valueholder?.weeklyPlan[0].unit" #weeklyPlanunit
              [readonly]=true>             
            </mat-form-field>
          </div>
  
          <div fxFlex="50" class="p-2">
              <mat-form-field class="full-width">
                <input matInput formControlName="assignedTo" placeholder="assignedTo" 
                [value]="valueholder?.weeklyPlan[0].assignedTo" #weeklyPlanassingedTo
                [readonly]=true>             
              </mat-form-field>
            </div>
            <div fxFlex="50" class="p-2">
                <mat-form-field class="full-width">
                  <input matInput formControlName="clientName" placeholder="customerName" 
                  [value]="valueholder?.customerName" #weeklyPlanclient
                  [readonly]=true>             
                </mat-form-field>
              </div>
  
          <div fxFlex="50" class="p-2">
            <mat-form-field class="full-width">
              <input matInput formControlName="taskTitle" placeholder="Task Title" 
              [value]="valueholder?.weeklyPlan[0].planTitle" #weeklyPlanTitle
              [readonly]=true>
            </mat-form-field>
          </div>
  
          <div fxFlex="50" class="p-2">
            <mat-form-field class="full-width">
              <textarea matInput formControlName="taskDescription" placeholder="Task Descrition"
              [value]="valueholder?.weeklyPlan[0].planDescription" #weeklyPlanDesc
              [readonly]=true></textarea>
            </mat-form-field>
          </div>
          <div fxFlex="50" class="p-2">
              <mat-form-field class="full-width">
                <textarea matInput formControlName="weekID" placeholder="weekID"
                [value]="valueholder?.weeklyPlan[0].weekID" #weeklyPlanWeekID
                [readonly]=true></textarea>
              </mat-form-field>
            </div>
          <div fxFlex="50" class="p-2">
              <mat-form-field class="full-width">
                <input matInput formControlName="week" placeholder="week" 
                [value]="valueholder?.weeklyPlan[0].week" 
                [readonly]=true>
              </mat-form-field>
            </div>
            <div fxFlex="50" class="p-2">
                <mat-form-field class="full-width">
                  <input matInput formControlName="year" placeholder="year" 
                  [value]="valueholder?.year" 
                  [readonly]=true>
                </mat-form-field>
              </div>
              <div fxFlex="50" class="p-2">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="monthName" placeholder="Month" 
                    [value]="valueholder?.monthName" 
                    [readonly]=true>
                  </mat-form-field>
                </div>
  
  
  
          <div fxFlex="50" class="pr-1">
            <mat-form-field>
              <mat-select placeholder="Priority" formControlName="priority">
                <mat-option *ngFor="let data of priority" [value]="data">
                  {{data}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
  
  
  
  
  
  
  
  
          <div fxFlex="50" class="pr-1">
            <mat-form-field>
              <mat-select placeholder="Department" formControlName="department">
                <mat-option *ngFor="let data of departmentData;let i = index " [value]="data">
                  {{data}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
  
          <div fxFlex="50" class="pr-1">
            <mat-form-field>
              <mat-select placeholder="Assigned By" formControlName="assignedBy">
                <mat-option *ngFor="let data of assignedBy; let i = index " [value]="data">
                  {{data}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
  
  
  
  
  
          <div fxFlex="50" class="pr-1">
            <mat-form-field>
              <input matInput formControlName="toCloseDate" [matDatepicker]="picker" ng-model-options="{timezone: 'utc'}"
                placeholder="Deadline Date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
  
          <div fxFlex="50" class="p-2">
            <mat-form-field class="full-width">
              <input matInput formControlName="toTime" placeholder="Deadline Time" type="time">
              <mat-error *ngIf="taskForm.controls['toTime'].errors?.required" required>
                To Time
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
  
          
          
  
          <div fxFlex="100" class="textHeader">
            <!-- *ngIf="(this.unitSort === 'BSS' || this.roleSort === 'admin') && (this.roleSort === 'teamleader' || this.roleSort === 'admin')"> -->
            <h5>Listing Details</h5>
          </div>
          <div fxLayout="column" fxFlex="100" formArrayName="list">
            <!-- *ngIf="(this.unitSort === 'BSS' || this.roleSort === 'admin') && (this.roleSort === 'teamleader' || this.roleSort === 'admin')"> -->
            <div *ngFor="let account of listForms.controls; let i=index" [formGroupName]="i">
              <div fxFlex="10" class="pr-1">
                <mat-form-field class="full-width">
                  <input matInput formControlName="title" placeholder="List Title">
                </mat-form-field>
              </div>
              <div fxFlex="30" class="pr-1">
                <mat-form-field class="full-width">
                  <input matInput formControlName="listDescription" placeholder="listDescription">
                </mat-form-field>
              </div>
              <div fxFlex="8" class="pr-1">
                <mat-form-field class="full-width">
                  <input matInput formControlName="listStatus" placeholder="listStatus">
                </mat-form-field>
              </div>
  
              <a (click)="deleteList(i)">
                <mat-icon>clear</mat-icon>
              </a>
            </div>
          </div>
  
          <div fxFlex="50">
            <!-- *ngIf="(this.unitSort === 'BSS' || this.roleSort === 'admin') && (this.roleSort === 'teamleader' || this.roleSort === 'admin')"> -->
            <a (click)="addListForm()">
              <mat-icon class="gridEdit">add_box</mat-icon>
            </a>
            <p>Add New</p>
          </div>
  
  
          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="primary">Create</button>
            <span fxFlex></span>
            <button mat-raised-button mat-button color="accent" type="button" (click)="cancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  
  </div>{{valueholder | json}}