<form >
  <div class="pageBoxLg">
    <div class="container-fluid">
        <app-search [registeredUserModel]="tempValue"
        (searchCustomer)="filterRegistrationCustomer($event)"></app-search>
        <div>
            <div fxFlex="100">
                <label class="pageBoxLg-label">Rinteger Customer</label>
              </div>
        </div>
      <div class="row gridRowHeader display-none-small">
        <div class="col-md-2 vcenterHeader">
          <div class="form-group">
            <label><h6>Customer Name</h6></label>
          </div>
        </div>
        <div class="col-md-2 vcenterHeader">
          <div class="form-group">
            <label><h6>Mobile Number</h6></label>
          </div>
        </div>      
        <div class="col-md-2 vcenterHeader">
          <div class="form-group">
            <label><h6>Password</h6></label>
          </div>
        </div>  
        <div class="col-md-2 vcenterHeader" *ngIf="this.userRole === 'admin'">
          <div class="form-group">
            <label><h6>Action</h6></label>
          </div>
        </div>
      </div>
      <div *ngFor="let data of registeredUserModel">
        <div class="row gridRow">
          <div class="display-none-large col-6">
            <label class="gridLabel">>Customer Name:</label>
          </div>
          <div class="col-md-2 col-6 vcenter form-group">
            {{data.customerName}}
          </div>
          <div class="display-none-large col-6">
            <label class="gridLabel">Mobile Number:</label>
          </div>
          <div class="col-md-2 col-6 vcenter form-group">
            {{data.mobileNumber}}
          </div>
          <div class="display-none-large col-6">
            <label class="gridLabel">Password:</label>
          </div>
          <div class="col-md-2 col-6 vcenter form-group">
            {{data.password}}
          </div>          
          <div class="display-none-large col-6" *ngIf="this.userRole === 'admin'"> 
            <label class="gridLabel">Action:</label>
          </div>
          <div class="col-md-2 col-6 vcenter form-group"  *ngIf="this.userRole === 'admin'">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">             
              <a class="nav-link" (click)="getEdit(data)">
                Edit
              </a>
              <a class="nav-link" (click)="getDelete(data)">
                Delete
              </a>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[1, 50, 100, 150]" [showFirstLastButtons]="true" [length]="totalSize"
    [pageIndex]="currentPage" (page)="handlePage($event)"></mat-paginator>
</form>