<div class="container-fluid">
  <div class="row">
    <div class="form-group">
      <label class="labelHeader">Marketing Detail</label>
    </div>
  </div>
  <div class="row gridRowHeader display-none-small">
    <div class="col-md-2">
      <div class="form-group">
        <label>Task Title</label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Task Description</label>
      </div>
    </div>    
    <div class="col-md-2">
        <div class="form-group">
          <label>Activity Assigned Count</label>
        </div>
      </div>
      <div class="col-md-2">
          <div class="form-group">
            <label>Activity Completed Count</label>
          </div>
        </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Lead Count</label>
      </div>
    </div>
  </div>
  <div class="row gridRow" *ngFor="let data of marketingData; let i = index">
    <div class="display-none-large col-4">
      <label class="gridLabel">Task Title:</label>
    </div>
    <div class="col-md-2 col-4 vcenter form-group">
      {{data.title}}
    </div>
    <div class="display-none-large col-4">
      <label class="gridLabel">Task Description:</label>
    </div>
    <div class="col-md-2 col-4 vcenter form-group">
        {{data.description}}
    </div>    
    <div class="display-none-large col-4">
        <label class="gridLabel">Activity Assigned Count:</label>
      </div>
      <div class="col-md-2 col-4 vcenter form-group">
          {{data.activityAssignedCount}}
      </div> 
      <div class="display-none-large col-4">
          <label class="gridLabel">Activity Completed Count:</label>
        </div>
        <div class="col-md-2 col-4 vcenter form-group">
            {{data.activityCompletedCount}}
        </div> 
    <div class="display-none-large col-4">
      <label class="gridLabel">Lead Count:</label>
    </div>
    <div class="col-md-2 col-4 vcenter form-group">
        {{data.leadCount}}
    </div>  
  </div>  
</div>