<div class="pageBoxLg">
    <div class="container topAlignContainer">
      <form [formGroup]="AssetListingForm" (ngSubmit)="validateProducts()">
        <div fxLayout="row wrap" fxLayout.lt-sm="column">
          <div fxFlex="100">
            <label class="pageBoxLg-label">Create Asset-List</label>
          </div>
         <!--  <div fxFlex="100">
            <label>
              <input type="file" (change)="handleFileInput($event.target.files)" multiple>
            </label>
            <div class="alert alert-danger" *ngIf="imageError">
              <h4>Please Select the images</h4>
            </div>
            <div class="row">
              <div class="col-md-6 pb-2" *ngFor="let url of urls">
                <mat-card>
                  <img class="img-fluid" [src]="url" height="600px" width="600px" />
                </mat-card>
              </div>
            </div>
          </div> -->
          <div fxFlex="50" class="p-2">
            <div >
            <mat-form-field class="full-width">
              <input matInput formControlName="date" type="date" placeholder="Select Date " >
              <mat-error *ngIf="AssetListingForm.controls['date'].errors?.required" >
                Date
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          
          </div>
          <div fxFlex="50" class="p-2">
            <mat-form-field class="full-width">
              <input matInput formControlName="productName" placeholder="ProductName">
              <mat-error *ngIf="AssetListingForm.controls['productName'].errors?.required" >
                Product Name
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50" class="p-2">
              <mat-form-field>
                  <mat-select placeholder="ResponsePerson" formControlName="responsePerson">
                    <mat-option *ngFor="let data of responsePerson;let i = index " [value]="data">
                      {{data}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
          <div fxFlex="50" class="p-2">
              <mat-form-field>
                  <mat-select placeholder="Categories" formControlName="categories">
                    <mat-option *ngFor="let data of categories;let i = index " [value]="data">
                      {{data}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <mat-select placeholder="Select Department" formControlName="department">
                <mat-option *ngFor="let data of department" [value]="data">
                  {{data}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="50" class="p-2">
              <mat-form-field class="full-width">
                <input matInput formControlName="ProductPrice" placeholder="productPrice">
                <mat-error *ngIf="AssetListingForm.controls['productPrice'].errors?.required">
                  Product Price
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" class="p-2">
                <mat-form-field class="full-width">
                  <input matInput formControlName="purchaseQuantitiy" placeholder="PurchaseQuantitiy">
                  <mat-error *ngIf="AssetListingForm.controls['purchaseQuantitiy'].errors?.required">
                   Purchase Quantity
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" class="p-2">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="Description" placeholder="Description">
                    <mat-error *ngIf="AssetListingForm.controls['Description'].errors?.required">
                      Description
                      <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
             
         





          <div fxFlex="100" class="mt-1">
            <button mat-raised-button mat-button color="accent" type="button" (click)="cancel()">Cancel</button>
            <span fxFlex></span>
            <button mat-raised-button color="primary">Save</button>
            
          </div>
        </div>
      </form>
    </div>
    </div>