<form novalidate style="padding-top:20px" [formGroup]="AssetListingForm">
  <label class="pageBoxLg-label">AssetDetail</label>
  <div class="pageBoxLg">
    <div class="row">
        <div class="col-md-12">
          <div class="row">
              <!-- <div class="col-md-4 pb-2" *ngFor="let url of assetValue.assetImageName">
                    <img class="img-fluid" [src]="url" height="400px" width="300px" />
                </div> -->
          </div>
           
        </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Date</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              : <label class="itemLable">{{assetValue.date}}</label>
            </div>
          </div>
          <div class="col-md-4 col-6">
            <div class="form-group">
              <label class="divLable">Product Name</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              : <label class="itemLable">{{assetValue.productName}}</label>
            </div>
          </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Response Person</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              : <label class="itemLable">{{assetValue.responsePerson}}</label>
            </div>
          </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Verified By</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              : <label class="itemLable">{{assetValue.verifiedBy}}</label>
            </div>
          </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Deparment</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              : <label class="itemLable">{{assetValue.department }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Status</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              <span> :</span> <label class="itemLable">{{assetValue.availableStatus}}</label>
            </div>
          </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Product Price</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              : <label class="itemLable">{{assetValue.productPrice}}</label>
            </div>
          </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Purchase Quantity</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              : <label class="itemLable">{{assetValue.purchaseQuantitiy}}</label>
            </div>
          </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Description</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              : <label class="itemLable">{{assetValue.Description}}</label>
            </div>
          </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Available Quantity</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              : <label class="itemLable">{{assetValue.availableQuantitiy}}</label>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-6">
        <app-view-availabiliy  [assetData]="assetValue.availability"></app-view-availabiliy>
    </div>
      
      <div class="col-md-12">
        <button type="button" color="accent" mat-raised-button (click)="Back()">Back</button>
      </div>
    </div>

  </div>
</form>