<form [formGroup]="activityDetailsForm">
    <div class="pageBoxLg">
      <div class="container-fluid">
        <div align="center">
          <button mat-raised-button (click)="goToMonthlySheet()" type="submit">MonthlySheet</button>
        </div>
        <div>
            <div fxFlex="100">
                <label class="pageBoxLg-label">WeeklyPlan</label>
              </div>
        </div>
        <div class="row gridRowHeader display-none-small">
          <div class="col-md-2 vcenterHeader">
            <div class="form-group">
              <label><h6>Title</h6></label>
            </div>
          </div>
          <div class="col-md-2 vcenterHeader">
            <div class="form-group">
              <label><h6>Description</h6></label>
            </div>
          </div>
          <div class="col-md-2 vcenterHeader">
            <div class="form-group">
              <label><h6>Week</h6></label>
            </div>
          </div>
          <div class="col-md-2 vcenterHeader">
              <div class="form-group">
                <label><h6>Assigined To</h6></label>
              </div>
            </div>
                
          <div class="col-md-2 vcenterHeader">
            <div class="form-group">
              <label><h6> Status</h6></label>
            </div>
          </div>
          <div class="col-md-2 vcenterHeader">
            <div class="form-group">
              <label><h6>Action</h6></label>
            </div>
          </div>
        </div>
        <div *ngFor="let data of activityValue">
          <div class="row gridRow">
            <div class="display-none-large col-6">
              <label class="gridLabel">Title:</label>
            </div>
            <div class="col-md-2 col-6 vcenter form-group">
              {{data.planTitle}}
            </div>
            <div class="display-none-large col-6">
              <label class="gridLabel">Description:</label>
            </div>
            <div class="col-md-2 col-6 vcenter form-group" >
              {{data.planDescription}}
            </div>
            <div class="display-none-large col-6">
                <label class="gridLabel">Week:</label>
              </div>
              <div class="col-md-2 col-6 vcenter form-group" >
                {{data.week}}
              </div>
              <div class="col-md-2 col-6 vcenter form-group">    
                  <mat-form-field>
                    <mat-select placeholder="assignedTo" [(value)]="data.assignedTo" 
                     (selectionChange)="selectMethod($event, data)"  required>
                      <mat-option *ngFor="let val of assignedTo" [value]="val.userName">
                        {{val.userName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
          </div>
            <div class="display-none-large col-6">
              <label class="gridLabel">
                Status:
              </label>
            </div>
            <div class="col-md-2 col-6 vcenter form-group">
              &nbsp;{{data.weekStatus}}
            </div>          
            <div class="display-none-large col-6">
              <label class="gridLabel">Action:</label>
            </div>
            <div class="col-md-2 col-6 vcenter form-group">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">    
                  <a class="nav-link" (click) = 'assingedsave(ActivityDetailsForm, data)'>
                      Assign Task
                    </a>       
                    <a class="nav-link" (click) = 'Delete(data)'>
                      Delete
                    </a>   
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[50, 100, 150]" [showFirstLastButtons]="true" [length]="totalSize"
      [pageIndex]="currentPage" (page)="handlePage($event)"></mat-paginator>
  </form>