<form [formGroup]="ActivityDetailsForm">
    <div class="pageBoxLg">
      <div class="container-fluid">       
        <div>
            <div fxFlex="100">
                <label class="pageBoxLg-label">MonthlyPlan</label>
              </div>
        </div>
        <div class="row">
        <div class="col-md-2">
          <mat-form-field>
            <mat-select placeholder="Select the Year" formControlName="yearData"
            (selectionChange)="SearchByYear($event)">
              <mat-option *ngFor="let data of year;let i = index " [value]="data">
                {{data}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div  class="col-md-2">
          <mat-form-field>
            <mat-select placeholder="monthName" formControlName="monthData"
            (selectionChange)="filterByMonth($event)">
              <mat-option *ngFor="let data of monthName;let i = index " [value]="data">
                {{data}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
        <div class="row gridRowHeader display-none-small">
          <div class="col-md-2 vcenterHeader">
            <div class="form-group">
              <label><h6>CustomerName</h6></label>
            </div>
          </div>
          <div class="col-md-2 vcenterHeader">
            <div class="form-group">
              <label><h6>Title</h6></label>
            </div>
          </div>
          <div class="col-md-2 vcenterHeader">
            <div class="form-group">
              <label><h6>Description</h6></label>
            </div>
          </div>
          <div class="col-md-2 vcenterHeader">
            <div class="form-group">
              <label><h6> Month</h6></label>
            </div>
          </div>
          <div class="col-md-2 vcenterHeader">
              <div class="form-group">
                <label><h6> Year</h6></label>
              </div>
            </div>
          <div class="col-md-2 vcenterHeader">
            <div class="form-group">
              <label><h6>Action</h6></label>
            </div>
          </div>
        </div>
        <div *ngFor="let data of activityValue">
          <div class="row gridRow">
            <div class="display-none-large col-6">
              <label class="gridLabel">CustomerName:</label>
            </div>
            <div class="col-md-2 col-6 vcenter form-group">
              {{data.customerName}}
            </div>
            <div class="display-none-large col-6">
              <label class="gridLabel">Title:</label>
            </div>
            <div class="col-md-2 col-6 vcenter form-group">
              {{data.title}}
            </div>
            <div class="display-none-large col-6">
              <label class="gridLabel">Description:</label>
            </div>
            <div class="col-md-2 col-6 vcenter form-group" >
              {{data.description}}
            </div>
            <div class="display-none-large col-6">
              <label class="gridLabel">
                Month:
              </label>
            </div>
            <div class="col-md-2 col-6 vcenter form-group">
              {{data.monthName}}
            </div>   
            <div class="display-none-large col-6">
                <label class="gridLabel">
                  Year:
                </label>
              </div>
              <div class="col-md-2 col-6 vcenter form-group">
                {{data.year}}
              </div>       
            <div class="display-none-large col-6">
              <label class="gridLabel">Action:</label>
            </div>
            <div class="col-md-2 col-6 vcenter form-group">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">    
                  <a class="nav-link" (click)="openList(data)">
                      view
                    </a>         
                <a class="nav-link" (click)="Edit(data)">
                  Edit
                </a>
                <a class="nav-link" (click) = 'Delete(data)'  >
                  Delete
                </a>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[50, 100, 150]" [showFirstLastButtons]="true" [length]="totalSize"
      [pageIndex]="currentPage" (page)="handlePage($event)"></mat-paginator>
  </form>