<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="p-2">
    <mat-card>
      <mat-card-title fxLayoutAlign="start center">
        <small class="text-muted">Leads</small>
        <span fxFlex></span>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{leadModel?.length}}</h3>
        <!-- <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="p-2">

    <mat-card>
      <mat-card-title>
        <small class="text-muted">Work Order</small>
        <span fxFlex></span>
      </mat-card-title>
      <mat-card-content>
         <h3 class="m-0 font-normal">{{sumWorkOrder}}</h3>
        <!-- <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="p-2">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Invoice</small>
        <span fxFlex></span>
      </mat-card-title>
      <mat-card-content>
                <h3 class="m-0 font-normal">{{sumInvoice}}</h3>
        <!-- <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="p-2">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Performa Invoice</small>
        <span fxFlex></span>
      </mat-card-title>
      <mat-card-content>
         <h3 class="m-0 font-normal">{{sumPerformaInvoice}}</h3>
        <!--   <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="p-2">
      <mat-card>
        <mat-card-title>
          <small class="text-muted">Quotation</small>
          <span fxFlex></span>
        </mat-card-title>
        <mat-card-content>
           <h3 class="m-0 font-normal">{{sumQuotation}}</h3>
          <!--   <small class="text-muted">Monthly</small> -->
        </mat-card-content>
      </mat-card>
    </div>
</div>