<div class="pageBoxLg">
  <div class="container topAlignContainer">
    <form [formGroup]="taskForm" (ngSubmit)="taskForm.valid && onSubmit(taskForm)">
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="100">
          <label class="pageBoxLg-label">Create Task Form</label>
        </div>
   
        <div fxFlex="50" class="pr-1">
          <mat-form-field>
            <mat-select placeholder="Units" formControlName="units" (selectionChange)="changed($event)" required>
              <mat-option *ngFor="let data of units" [value]="data">
                {{data}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="50" class="pr-1">
          <mat-form-field>
            <mat-select placeholder="Assigned To" formControlName="assignedTo">
              <mat-option *ngFor="let data of taskname;let i = index " [value]="data">
                <a>{{data.userName}}</a>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="50" class="p-2" *ngIf="this.unitSort !=='Studio'">
          <mat-form-field class="full-width">
            <input matInput formControlName="clientName" placeholder="Client Name">
            <mat-error *ngIf="taskForm.controls['clientName'].errors?.required" required>
              Client Name
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" class="p-2">
          <mat-form-field class="full-width">
            <input matInput formControlName="taskTitle" placeholder="Task Title">
            <mat-error *ngIf="taskForm.controls['taskTitle'].errors?.required" required>
              Task Title
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" class="p-2" *ngIf="this.unitSort !=='Studio'">
          <mat-form-field class="full-width">
            <textarea matInput formControlName="taskDescription" placeholder="Task Descrition"></textarea>
            <mat-error *ngIf="taskForm.controls['taskDescription'].errors?.required" required>
              Task Descrition
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>





        <div fxFlex="50" class="pr-1">
          <mat-form-field>
            <mat-select placeholder="Priority" formControlName="priority">
              <mat-option *ngFor="let data of priority" [value]="data">
                {{data}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>









        <div fxFlex="50" class="pr-1">
          <mat-form-field>
            <mat-select placeholder="Department" formControlName="department">
              <mat-option *ngFor="let data of departmentData;let i = index " [value]="data">
                {{data}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div fxFlex="50" class="pr-1">
          <mat-form-field>
            <mat-select placeholder="Assigned By" formControlName="assignedBy">
              <mat-option *ngFor="let data of assignedBy; let i = index " [value]="data">
                {{data}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>






        <div fxFlex="50" class="pr-1">
          <mat-form-field>
            <input matInput formControlName="toCloseDate" [matDatepicker]="picker" ng-model-options="{timezone: 'utc'}"
              placeholder="Deadline Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxFlex="50" class="p-2">
          <mat-form-field class="full-width">
            <input matInput formControlName="toTime" placeholder="Deadline Time" type="time">
            <mat-error *ngIf="taskForm.controls['toTime'].errors?.required" required>
              To Time
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" class="textHeader"
          *ngIf="((this.unitSort === 'Studio') && (this.roleSort !== 'photographer')) || this.roleSort === 'admin'">
          <h5>Product Details</h5>
        </div>

        <div fxLayout="column" fxFlex="100" formArrayName="product"
          *ngIf="(this.unitSort === 'Studio') && (this.roleSort !== 'photographer') || this.roleSort === 'admin'">
          <div *ngFor="let account of productForms.controls; let i=index" [formGroupName]="i">
              <div fxFlex="15" class="pr-1">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="customerName" placeholder="customerName">
                  </mat-form-field>
                </div>
            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="productName" placeholder="productName">
              </mat-form-field>
            </div>
            <div fxFlex="8" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="productCount" placeholder="productCount">
              </mat-form-field>
            </div>
            <div fxFlex="8" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="imageCount" placeholder="imageCount">
              </mat-form-field>
            </div>

            <a (click)="deleteProducts(i)">
              <mat-icon>clear</mat-icon>
            </a>
          </div>
        </div>


        <div fxFlex="100" fxLayout="row"
          *ngIf="(this.unitSort === 'Studio') && (this.roleSort !== 'photographer') || this.roleSort === 'admin'">
          <a (click)="addForm()">
            <mat-icon class="gridEdit">add_box</mat-icon>
          </a>
          <p>Add New</p>
        </div>


        <div fxFlex="100" class="textHeader"
          *ngIf="this.unitSort === 'Technologies' || this.roleSort === 'admin'">
          <h5>Project Details</h5>
        </div>
        <div fxLayout="column" fxFlex="100" formArrayName="task"
          *ngIf="(this.unitSort === 'Technologies' || this.roleSort === 'admin') && (this.roleSort === 'teamleader' || this.roleSort === 'admin')">
          <div *ngFor="let account of moduleForms.controls; let i=index" [formGroupName]="i">
            <div fxFlex="10" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="moduleName" placeholder="Module Name">
              </mat-form-field>
            </div>
            <div fxFlex="30" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="moduleDescription" placeholder="moduleDescription">
              </mat-form-field>
            </div>
            <div fxFlex="8" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="moduleStatus" placeholder="moduleStatus">
              </mat-form-field>
            </div>

            <a (click)="deleteModule(i)">
              <mat-icon>clear</mat-icon>
            </a>
          </div>
        </div>

        <div fxFlex="50"
          *ngIf="this.unitSort === 'Technologies' || this.roleSort === 'admin'">
          <a (click)="addTaskForm()">
            <mat-icon class="gridEdit">add_box</mat-icon>
          </a>
          <p>Add New</p>
        </div>



        <div fxFlex="100" class="textHeader"
          *ngIf="this.roleSort === 'photographer' || this.roleSort === 'admin'">
          <h5>Shoot Details</h5>
        </div>

        <div fxLayout="column" fxFlex="100" formArrayName="shoot"
          *ngIf="this.roleSort === 'photographer' || this.roleSort === 'admin'">
          <div *ngFor="let account of ShootForms.controls; let i=index" [formGroupName]="i">
           <div class="row">
            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="customerName" placeholder="customerName">
              </mat-form-field>
            </div>

            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="productName" placeholder="productName">
              </mat-form-field>
            </div>

            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="productCount" placeholder="productCount">
              </mat-form-field>
            </div>

            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="shootType" placeholder="shootType">
              </mat-form-field>
            </div>

            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="modeName" placeholder="modelName">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="shootPurpose" placeholder="shootPurpose">
              </mat-form-field>
            </div>
            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="approval" placeholder="approval">
              </mat-form-field>
            </div>
            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="requirement" placeholder="requirement">
              </mat-form-field>
            </div>
            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="status" placeholder="status">
              </mat-form-field>
            </div>
          </div>

            <a (click)="deleteShoot(i)">
              <mat-icon>clear</mat-icon>
            </a>
          </div>
        </div>


        <div fxFlex="100" fxLayout="row"
          *ngIf="this.roleSort === 'photographer' || this.roleSort === 'admin'">
          <a (click)="addShootForm()">
            <mat-icon class="gridEdit">add_box</mat-icon>
          </a>
          <p>Add New</p>
        </div>


        <div fxFlex="100" class="textHeader"
          *ngIf="this.unitSort === 'BSS' || this.roleSort === 'admin'">
          <h5>Listing Details</h5>
        </div>
        <div fxLayout="column" fxFlex="100" formArrayName="list"
          *ngIf="this.unitSort === 'BSS' || this.roleSort === 'admin'">
          <div *ngFor="let account of listForms.controls; let i=index" [formGroupName]="i">
            <div fxFlex="10" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="title" placeholder="List Title">
              </mat-form-field>
            </div>
            <div fxFlex="30" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="listDescription" placeholder="listDescription">
              </mat-form-field>
            </div>
            <div fxFlex="10" class="pr-1">
                <mat-form-field class="full-width">
                  <input matInput formControlName="listCount" placeholder="listCount">
                </mat-form-field>
              </div>
              <div fxFlex="10" class="pr-1">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="noOfProductLive" placeholder="noOfProductLive">
                  </mat-form-field>
                </div>
            <div fxFlex="10" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="listStatus" placeholder="listStatus">
              </mat-form-field>
            </div>

            <a (click)="deleteList(i)">
              <mat-icon>clear</mat-icon>
            </a>
          </div>
        </div>

        <div fxFlex="50"
          *ngIf="this.unitSort === 'BSS' || this.roleSort === 'admin'">
          <a (click)="addListForm()">
            <mat-icon class="gridEdit">add_box</mat-icon>
          </a>
          <p>Add New</p>
        </div>


        <div fxFlex="100" class="textHeader"
        *ngIf="this.unitSort === 'Marketing' || this.roleSort === 'admin'">
        <h5>Marketing Details</h5>
      </div>
      <div fxLayout="column" fxFlex="100" formArrayName="marketing"
        *ngIf="this.unitSort === 'Marketing' || this.roleSort === 'admin'">
        <div *ngFor="let account of MarketingForms.controls; let i=index" [formGroupName]="i">
          <div fxFlex="10" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput formControlName="title" placeholder="Task Title">
            </mat-form-field>
          </div>
          <div fxFlex="30" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput formControlName="description" placeholder="Task Description">
            </mat-form-field>
          </div>
          <div fxFlex="20" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput formControlName="activityAssignedCount" placeholder="Activity Assigned Count">
              </mat-form-field>
            </div>
            <div fxFlex="20" class="pr-1">
                <mat-form-field class="full-width">
                  <input matInput formControlName="activityCompletedCount" placeholder="Activity Completed Count">
                </mat-form-field>
              </div>
          <div fxFlex="20" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput formControlName="leadCount" placeholder="Lead Count">
            </mat-form-field>
          </div>

          <a (click)="deleteMarkeing(i)">
            <mat-icon>clear</mat-icon>
          </a>
        </div>
      </div>

      <div fxFlex="50"
        *ngIf="this.unitSort === 'Marketing' || this.roleSort === 'admin'">
        <a (click)="addMarketingForm()">
          <mat-icon class="gridEdit">add_box</mat-icon>
        </a>
        <p>Add New</p>
      </div>



        <div fxFlex="100" class="mt-1">
          <button mat-raised-button color="primary">Create</button>
          <span fxFlex></span>
          <button mat-raised-button mat-button color="accent" type="button" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>

</div>