<div class="pageBoxLg">
  <div class="container topAlignContainer">
    <form [formGroup]="activityForm" >
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="100">
          <label class="pageBoxLg-label">Edit Monthly Plan</label>
        </div>
        <div fxFlex="50" class="pr-2" *ngIf = 'activeValue?.workOrderID'>
          <mat-form-field class="full-width">
            <input matInput formControlName="workOrderID" [readonly]=true placeholder="workOrderID" 
            [(ngModel)]="activeValue.workOrderID" >  
          </mat-form-field>
        </div>
        <div fxFlex="50" class="pr-2" *ngIf = 'activeValue?.customerName'>
            <mat-form-field class="full-width">
              <input matInput formControlName="customerName" placeholder="customerName" 
              [(ngModel)]="activeValue.customerName" >  
            </mat-form-field>
          </div>
          <div fxFlex="50" class="pr-1" *ngIf = 'activeValue?.year'>
            <mat-form-field>
              <mat-select placeholder="Select the Year" formControlName="year" 
              [(ngModel)]="activeValue.year" >
                <mat-option *ngFor="let data of year;let i = index " [value]="data">
                  {{data}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="50" class="pr-1" *ngIf = 'activeValue?.monthName'> 
            <mat-form-field>
              <mat-select placeholder="monthName" formControlName="monthName" [(ngModel)]="activeValue.monthName" >                  
                <mat-option *ngFor="let data of monthName;let i = index " [value]="data">
                  {{data}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="50" class="pr-2" *ngIf = 'activeValue?.title'> 
            <mat-form-field>
              <input matInput formControlName="title"   [(ngModel)]="activeValue.title" 
                placeholder="Enter the title">              
            </mat-form-field>
          </div>
          <div fxFlex="50" class="pr-2" *ngIf = 'activeValue?.description'> 
            <mat-form-field>
              <input matInput formControlName="description"  [(ngModel)]="activeValue.description" 
                placeholder="Enter the description">
            </mat-form-field>
          </div>
        <div fxLayout="column"    fxFlex="100" formArrayName="monthlyPlan" >
          <div  *ngFor="let account of monthForms.controls; let i=index" [formGroupName]="i">
          <div fxFlex="25" class="p-2">
          <mat-form-field class="full-width">
            <input matInput formControlName="planTitle" placeholder="Title" 
              (ngModelChange)="activeValue.planTitle=$event" >
          </mat-form-field>
        </div>
        <div fxFlex="50" class="p-2">
          <mat-form-field class="full-width">
            <input matInput formControlName="planDescription" placeholder="Descrition" 
             (ngModelChange)="activeValue.planDescription=$event">
          </mat-form-field>
        </div>
        <a (click)="deleteList(i)">
          <mat-icon>clear</mat-icon>
        </a>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row">
          <a (click)="addForm()">
            <mat-icon class="gridEdit">add_box</mat-icon>
          </a>
          <p>Add New</p>
        </div>
    <div fxFlex="100" class="mt-1">
        <button mat-raised-button color="primary" (click)="updatevalue(activityForm,activeValue)">Update</button>
        <span fxFlex></span>
        <button mat-raised-button mat-button color="accent" type="button" (click)="cancel()">Cancel</button>
      </div>
    </div>
    </form>
  </div>
</div>